<p id="notice"><%= notice %></p>

<h1>Listing Income Distributions</h1>

<h2>Balances<sup><a href="#fn1" id="ref1"> 1</a></sup></h2>
<table>
  <thead>
    <tr>
      <th>Distribution date</th>
      <th>Amex</th>
      <th>Freedom</th>
      <th>Travel</th>
      <th>Cash</th>
      <th>Jcp</th>
      <th>Express</th>
      <th>Boa chk</th>
      <th>Chase chk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_distributions.each do |income_distribution| %>
      <tr style="background-color:<%= equal_cell_color(income_distribution.total_chk, income_distribution.total_distribution, false) %>">
        <td><%= income_distribution.distribution_date %></td>
        <td><%= number_to_currency( income_distribution.amex) %></td>
        <td><%= number_to_currency( income_distribution.freedom) %></td>
        <td><%= number_to_currency( income_distribution.travel) %></td>
        <td><%= number_to_currency( income_distribution.cash) %></td>
        <td><%= number_to_currency( income_distribution.jcp) %></td>
        <td><%= number_to_currency( income_distribution.express) %></td>
        <td><%= number_to_currency( income_distribution.boa_chk) %></td>
        <td><%= number_to_currency( income_distribution.chase_chk) %></td>
        <td><%= link_to 'Show', income_distribution %></td>
        <td><%= link_to 'Edit', edit_income_distribution_path(income_distribution) %></td>
        <td><%= link_to 'Destroy', income_distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Distributions</h2>

<table>
  <thead>
    <tr>
      <th>Distribution date</th>
      <th>Amex</th>
      <th>Freedom</th>
      <th>Travel</th>
      <th>Cash</th>
      <th>Jcp</th>
      <th>Express</th>
      <th>Rent</th>
      <th>Student Loans</th>
      <th>Car Loans</th>
      <th>Savings</th>
    </tr>
  </thead>

  <tbody>
    <% @income_distributions.each do |income_distribution| %>
      <tr style="background-color:<%= equal_cell_color(income_distribution.total_chk, income_distribution.total_distribution, false) %>">
        <td><%= income_distribution.distribution_date %></td>
        <td><%= number_to_currency( income_distribution.amex_alloc) %></td>
        <td><%= number_to_currency( income_distribution.freedom_alloc) %></td>
        <td><%= number_to_currency( income_distribution.travel_alloc) %></td>
        <td><%= number_to_currency( income_distribution.cash_alloc) %></td>
        <td><%= number_to_currency( income_distribution.jcp_alloc) %></td>
        <td><%= number_to_currency( income_distribution.express_alloc) %></td>
        <td><%= number_to_currency( income_distribution.rent_alloc) %></td>
        <td><%= number_to_currency( income_distribution.student_alloc) %></td>
        <td><%= number_to_currency( income_distribution.car_alloc) %></td>
        <td><%= number_to_currency( income_distribution.savings_alloc) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Income distribution', new_income_distribution_path %>

<hr></hr>

<sup id="fn1">1. The credit card balances reflect the amount needed to pay in order to pay off the entire monthly balance.<br> e.i. if the monthly balance is $1,000 and there are 5 paychecks between the last due date and the current due date, then the balance will say $200. <a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
