<p id="notice"><%= notice %></p>

<h1>Listing Income Distributions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="2">Checking Accounts</th>
      <th colspan="4">Allocations</th>
    </tr>
    <tr>
      <th>Distribution date</th>
      <th>Bank of America</th>
      <th>Chase</th>
      <% distro_list_categories.each do |debt| %>
        <th><%= debt[0] %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_distributions.each do |income_distribution| %>
      <tr style="background-color:<%= equal_cell_color(income_distribution.total_chk, income_distribution.total_distribution, false) %>">
        <td><%= income_distribution.distribution_date %></td>
        <td><%= number_to_currency(income_distribution.boa_chk) %></td>
        <td><%= number_to_currency(income_distribution.chase_chk) %></td>
        <% income_distribution.allocations.each do |debt| %>
          <td><%= number_to_currency(debt[1]) %></td>
        <% end %>
        <td><%= link_to 'Show', income_distribution %></td>
        <td><%= link_to 'Edit', edit_income_distribution_path(income_distribution) %></td>
        <td><%= link_to 'Destroy', income_distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Income distribution', new_income_distribution_path %>
