<p id="notice"><%= notice %></p>

<h1><%= @income_distribution.distribution_date %>'s Distributions</h1>

<h2>Bank Of America</h2>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Distribution</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>BoA</td>
        <td style="background-color:<%= equal_cell_color(@income_distribution.boa_chk,@income_distribution.boa_total_distribution)%>"><%= number_to_currency(@income_distribution.boa_chk) %></td>
        <td style="background-color:<%= good_pos_cell_color(@income_distribution.boa_balance_left)%>"><%= number_to_currency(@income_distribution.boa_balance_left) %></td>
      </tr>
      <% @income_distribution.boa_debts.each do |account| %>
        <tr>
          <td><%= account.debt.name %></td>
          <td style="background-color:<%= good_pos_cell_color(account.payment_due)%>"><%= number_to_currency(account.payment_due) %></td>
          <td></td>
        </tr>
      <% end %>
      <tr>
        <td>Rent</td>
        <td></td>
        <td style="background-color:<%= good_pos_cell_color(@income_distribution.rent_alloc)%>"><%= number_to_currency(@income_distribution.rent_alloc) %></td>
      </tr>
      <tr>
        <td>Car</td>
        <td></td>
        <td style="background-color:<%= good_pos_cell_color(@income_distribution.car_alloc)%>"><%= number_to_currency(@income_distribution.car_alloc) %></td>
      </tr>
      <tr>
        <td>Extra Savings</td>
        <td></td>
        <td style="background-color:<%= good_pos_cell_color(@income_distribution.extra_savings_alloc)%>"><%= number_to_currency( @income_distribution.extra_savings_alloc) %></td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Total</strong></td>
        <td style="background-color:<%= equal_cell_color(@income_distribution.boa_chk,@income_distribution.boa_total_distribution)%>"><%= number_to_currency(@income_distribution.boa_total_distribution) %></td>
      </tr>
  </tbody>
</table>

<br>
<h2>Chase</h2>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Distribution</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Chase</td>
        <td style="background-color:<%= equal_cell_color(@income_distribution.chase_chk,@income_distribution.chase_total_distribution)%>"><%= number_to_currency(@income_distribution.chase_chk) %></td>
        <td style="background-color:<%= good_pos_cell_color(@income_distribution.chase_balance_left)%>"><%= number_to_currency( @income_distribution.chase_balance_left) %></td>
      </tr>
      <% @income_distribution.chase_debts.each do |account| %>
        <tr>
          <td><%= account.debt.name %></td>
          <td style="background-color:<%= good_pos_cell_color(account.payment_due)%>"><%= number_to_currency(account.payment_due) %></td>
          <td></td>
        </tr>
      <% end %>
      <tr>
        <td>Extra Savings</td>
        <td></td>
        <td style="background-color:<%= good_pos_cell_color(@income_distribution.chase_extra)%>"><%= number_to_currency( @income_distribution.chase_extra) %></td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Total</strong></td>
        <td style="background-color:<%= equal_cell_color(@income_distribution.chase_chk,@income_distribution.chase_total_distribution)%>"><%= number_to_currency(@income_distribution.chase_total_distribution) %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_income_distribution_path(@income_distribution) %> |
<%= link_to 'Back', income_distributions_path %> |
<% if !@income_distribution.paid %> 
  <%= link_to 'Make Payments', make_payments_income_distribution_path(@income_distribution), :data => {:confirm => 'Are you sure?'} %>
<% else %>
  <%= link_to 'Undo Payments', undo_payments_income_distribution_path(@income_distribution), :data => {:confirm => 'Are you sure?'} %>
<% end %>
