<p id="notice"><%= notice %></p>

<h1><%= @income_distribution.distribution_date %>'s Distributions</h1>

<h2>Bank Of America</h2>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Distribution</th>
      <% if Rails.env.development? %>
        <th>Max</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @income_distribution.boa_debts_hash.each do |debt| %>
      <% unless debt[1][1] == 0 %>
        <tr>
          <td><%= debt[0] %></td>
          <td><%= number_to_currency(debt[1][0]) %></td>
          <td style="background-color:<%= good_pos_cell_color(debt[1][1])%>"><%= number_to_currency(debt[1][1]) %></td>
          <% if Rails.env.development? %>
            <td><%= number_to_currency(debt[1][2]) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td style="background-color:<%= equal_cell_color(@income_distribution.boa_chk,@income_distribution.boa_total_distribution)%>"><%= number_to_currency(@income_distribution.boa_total_distribution) %></td>
      <% if Rails.env.development? %>
        <td></td>
      <% end %>
    </tr>  
  </tbody>
</table>

<br>

<h2>Chase</h2>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Distribution</th>
      <% if Rails.env.development? %>
        <th>Max</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @income_distribution.chase_debts_hash.each do |debt| %>
      <% unless debt[1][1] == 0 %>
        <tr>
          <td><%= debt[0] %></td>
          <td><%= number_to_currency(debt[1][0]) %></td>
          <td style="background-color:<%= good_pos_cell_color(debt[1][1])%>"><%= number_to_currency(debt[1][1]) %></td>
          <% if Rails.env.development? %>
            <td><%= number_to_currency(debt[1][2]) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td style="background-color:<%= equal_cell_color(@income_distribution.chase_chk,@income_distribution.chase_total_distribution)%>"><%= number_to_currency(@income_distribution.chase_total_distribution) %></td>
      <% if Rails.env.development? %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_income_distribution_path(@income_distribution) %> |
<%= link_to 'Back', income_distributions_path %> |
<% if !@income_distribution.paid %> 
  <%= link_to 'Make Payments', make_payments_income_distribution_path(@income_distribution), :data => {:confirm => 'Are you sure?'} %>
<% else %>
  <%= link_to 'Undo Payments', undo_payments_income_distribution_path(@income_distribution), :data => {:confirm => 'Are you sure?'} %>
<% end %>
