<%= form_for(@spending) do |f| %>
  <% if @spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% @spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, current_user.get_all("categories").order(:name), :id, :name, {prompt: 'Please Select'}, {:class => 'select', required: true} %>
  </div>
  <div class="field" id="desc_text" style="display:none;" >
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field" id="desc_select" style="display:true;" >
    <%= f.label :debt_id, "Goal" %><br>
    <%= f.grouped_collection_select :debt_id, current_user.get_all("categories").joins(:debts).distinct.order(:name), :active_debts, :name, :id, :name, {prompt: 'None'}, :class => 'select' %>
  </div>
  <div class="field">
    <%= f.label :spending_date, "Date"  %>
    <%= f.calendar_field :spending_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payment_method_id %><br>
    <%= f.collection_select :payment_method_id, current_user.get_all("payment_methods").order(:name), :id, :name, {prompt: 'Please Select'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
