<%= form_for(@spending) do |f| %>
  <% if @spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% @spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budget %><br>
    <%= f.collection_select :budget_id, current_user.get_all("budgets").search(@spending.spending_date).sort_by(&:category_name), :id, :category_name, {prompt: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :debt_balance, "Goal" %><br>
    <%= f.collection_select :debt_balance_id, current_user.get_all("debt_balances").search_by_date(@spending.spending_date).sort_by(&:debt_name), :id, :debt_name, include_blank: 'None' %>
  </div>
  <div class="field">
    <%= f.label :spending_date, "Date"  %>
    <%= f.calendar_field :spending_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.collection_select :payment_method_id, current_user.get_all("payment_methods"), :id, :name, {prompt: 'Please Select'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
