<%= form_for(@spending) do |f| %>
  <% if @spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% @spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all.order(:name), :id, :name %>
  </div>
  <div class="field" id="desc_text" style="display:none;" >
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field" id="desc_select" style="display:none;" >
    <%= f.label :description %><br>
    <%= f.select :description_select, [['USDOE/GLELSI', 'USDOE/GLELSI'], ['VW', 'VW'], ['Tulane', 'Tulane']] %>
  </div>
  <div class="field">
    <%= f.label :spending_date, "Date"  %>
    <%= f.calendar_field :spending_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
