<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart spendings_by_month_spendings_path, discrete: true, library: {title: "Spendings By Month"} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= pie_chart spendings_by_category_spendings_path, discrete: true, library: {title: "Spendings By Category"} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= pie_chart spendings_by_payment_method_spendings_path, discrete: true, library: {title: "Spendings By Payment Methods"} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart cc_purchase_vs_payment_spendings_path, discrete: true, library: {title: "CC Spendings vs Payments"} %>
  </div>
</div>

<h1>Listing Spendings</h1>

<%= form_tag spendings_path, :method => 'get', :id => "spendings_search" do %>
  <table class="filters">
    <tr>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= submit_tag "Search", :name => nil %></td>
    </tr>
  </table>
<% end %>

<%= link_to 'New Spending', new_spending_path %>

<%= will_paginate @spendings %>

<table>
  <thead>
    <tr>
      <th><%= sortable "description" %></th>
      <th><%= sortable "category_id", "Category" %></th>
      <th><%= sortable "spending_date", "Date" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "payment_method_id", "Payment Method" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spendings.each do |spending| %>
      <tr>
        <td><%= spending.description %></td>
        <td><%= spending.category.name %></td>
        <td><%= spending.spending_date %></td>
        <td><%= number_to_currency(spending.amount) %></td>
        <td><%= spending.payment_method.name %></td>
        <td><%= link_to 'Show', spending %></td>
        <td><%= link_to 'Edit', edit_spending_path(spending) %></td>
        <td><%= link_to 'Destroy', spending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @spendings %>

<br>

<%= link_to 'New Spending', new_spending_path %>
