<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @spending.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spending.category.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @spending.spending_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @spending.amount %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
