<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, current_user.get_all("categories").order(:name), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :sub_category %><br>
    <%= f.text_field :sub_category %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :account_id, "Pay From" %><br>
    <%= f.collection_select :account_id, current_user.get_all("accounts"), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :fix_amount %><br>
    <%= f.number_field :fix_amount %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.select :schedule , options_for_select([['Bi-Weekly', 'Bi-Weekly'], ['Monthly', 'Monthly']], @debt.schedule) %>
  </div>
  <div class="field">
    <%= f.label :payment_start_date %><br>
    <%= f.calendar_field :payment_start_date %>
  </div>
  <div class="field">
    <%= f.label :autopay %>
    <%= f.check_box :autopay %>
  </div>
  <div class="field">
    <%= f.label :is_asset %>
    <%= f.check_box :is_asset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
