<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select([['Credit Cards', 'Credit Cards'], ['Savings', 'Savings'], ['Loans','Loans']]) %>
  </div>
  <div class="field">
    <%= f.label :sub_category %><br>
    <%= f.text_field :sub_category %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pay_from %><br>
    <%= f.select :pay_from , options_for_select([['Bank Of America', 'Bank Of America'], ['Chase', 'Chase']]) %>
  </div>
  <div class="field">
    <%= f.label :is_asset %><br>
    <%= f.check_box :is_asset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
