<p id="notice"><%= notice %></p>

<h1>Listing Debts/Assets</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Sub category</th>
      <th>Name</th>
      <th>Asset?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.category %></td>
        <td><%= debt.sub_category %></td>
        <td><%= debt.name %></td>
        <td><%= debt.is_asset %></td>
        <td><%= link_to 'Show', debt %></td>
        <td><%= link_to 'Edit', edit_debt_path(debt) %></td>
        <td><%= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debt', new_debt_path %>
