<p id="notice"><%= notice %></p>

<h1>Listing Budgets</h1>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="row">
  <div class="col-xs-12">
    <h3>Budget vs Spending By Month</h3>
    <%= line_chart budgets_by_month_budgets_path, discrete: true, library: {vAxis: {format: '$#,###.##'}} %>
  </div>
</div>

<%= link_to 'Reset All Budgets', reset_budgets_path, :data => {:confirm => 'Are you sure?'} %> |
<%= link_to "Reset Current Month's Budgets", reset_current_month_budgets_path, :data => {:confirm => 'Are you sure?'} %>

<%= will_paginate @budgets %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Month</th>
      <th>Budget Amount</th>
      <th>Spendings</th>
      <th>+/-</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.category.name %></td>
        <td><%= budget.budget_month.strftime('%B %Y') %></td>
        <td><%= number_to_currency(budget.amount) %></td>
        <td><%= number_to_currency(budget.spendings.sum(:amount)) %></td>
        <td style="background-color:<%= good_pos_cell_color(budget.amount - budget.spendings.sum(:amount))%>"><%= number_to_currency(budget.amount - budget.spendings.sum(:amount)) %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @budgets %>

<br>

<%= link_to 'New Budget', new_budget_path %>
