<p id="notice"><%= notice %></p>

<h1>Contributors</h1>

<table>
  <thead>
    <%= render "users/partials/header" %>
  </thead>
  <tbody>
    <%= render partial: "users/partials/user", collection: current_user.contributors %>
  </tbody>
</table>

<br>

<h1>Others</h1>

<table>
  <thead>
    <%= render "users/partials/header" %>
  </thead>
  <tbody>
    <%= render partial: "users/partials/user", collection: User.all - current_user.contributors - [current_user] %>
  </tbody>
</table>
