<p id="notice"><%= notice %></p>

<p>
  <strong>Balance date:</strong>
  <%= @account_balance.balance_date %>
</p>

<p>
  <strong>Account:</strong>
  <%= @account_balance.account %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@account_balance.amount) %>
</p>

<p>
  <strong>Buffer:</strong>
  <%= number_to_currency(@account_balance.buffer) %>
</p>

<p>
  <strong>Leftover:</strong>
  <%= @account_balance.debt %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @account_balance.paid %>
</p>

<% @account_balances.each do |account_balance| %>

<h2><%= account_balance.account %></h2>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Distribution</th>
      <% if Rails.env.development? %>
        <th>Max</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% account_balance.recommendations.each do |debt| %>
      <% unless debt[1][1] == 0 %>
        <tr>
          <td><%= debt[0] %></td>
          <td><%= number_to_currency(debt[1][0]) %></td>
          <td style="background-color:<%= good_pos_cell_color(debt[1][1])%>"><%= number_to_currency(debt[1][1]) %></td>
          <% if Rails.env.development? %>
            <td><%= number_to_currency(debt[1][2]) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td><%= number_to_currency(account_balance.total_distribution) %></td>
      <% if Rails.env.development? %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_balance_path(account_balance) %> |
<%= link_to 'Back', account_balances_path %> |
<% if !account_balance.paid %>
  <%= link_to 'Make Payments', make_payments_account_balance_path(account_balance), :data => {:confirm => 'Are you sure?'} %>
<% else %>
  <%= link_to 'Undo Payments', undo_payments_account_balance_path(account_balance), :data => {:confirm => 'Are you sure?'} %>
<% end %>


<% end %>

<p style="text-indent: 0em; color:red;">
   <strong>No payments auto pay for the following: </strong>
</p>

<p style="text-indent: 2em; color:red;">
  <%= current_user.get_debts.do_not_pay_list.join(", ") %>
</p>
<br>
