<p id="notice"><%= notice %></p>

<h1>Listing Debt/Asset Balances</h1>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart ccs_by_month_debt_balances_path, discrete: true, library: {title: "Credit Card Balances By Month"} %>
  </div>
</div>

<div class="row" style="display:true;">
  <div class="col-xs-12">
    <%= line_chart loans_by_month_debt_balances_path, discrete: true, library: {title: "Total Debts By Month"} %>
  </div>
</div>

<p style="color:<%= good_neg_cell_color(@debts.to_a.sum(&:max_payment), nil, true)%>;">
  <strong>Current Estimated Total Debts:</strong>
  <%= number_to_currency(@debts.to_a.sum(&:max_payment)) %>
</p>

<%= form_tag debt_balances_path, :method => 'get', :id => "debt_balances_search" do %>
  <table class="filters">
    <tr>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <td><%= collection_select(:debt_balance, :debt_id, Debt.active, :id, :name, {include_blank: true})  %></td>
        <td><%= submit_tag "Search", :name => nil %></td>
    </tr>
  </table>
<% end %>

<%= link_to 'New Debt balance', new_debt_balance_path %>

<%= will_paginate @debt_balances %>

<table>
  <thead>
    <tr>
      <th>Debt/Asset</th>
      <th>Payment Start Date</th>
      <th>Due/Target date</th>
      <th>Balance</th>
      <th>Paid</th>
      <th>+/-</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debt_balances.each do |debt_balance| %>
      <tr>
        <td><%= debt_balance.debt.name %></td>
        <td><%= debt_balance.payment_start_date %></td>
        <td><%= debt_balance.due_date %></td>
        <td><%= number_to_currency(debt_balance.balance_of_interest) %></td>
        <td><%= number_to_currency(debt_balance.payments.sum(:amount)) %></td>
        <td style="background-color:<%= good_neg_cell_color(debt_balance.max_payment, debt_balance.debt.name)%>"><%= number_to_currency(debt_balance.max_payment) %></td>
        <td><%= link_to 'Show', debt_balance %></td>
        <td><%= link_to 'Edit', edit_debt_balance_path(debt_balance) %></td>
        <td><%= link_to 'Destroy', debt_balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @debt_balances %>

<br>

<%= link_to 'New Debt balance', new_debt_balance_path %>
