<p id="notice"><%= notice %></p>

<p>
  <strong>Debt/Asset:</strong>
  <%= @debt_balance.debt.name %>
</p>

<p>
  <strong>Payment start date:</strong>
  <%= @debt_balance.payment_start_date %>
</p>

<p>
  <strong>Due/Target date:</strong>
  <%= @debt_balance.due_date %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency(@debt_balance.balance) %>
</p>

<p>
  <strong>Target Balance:</strong>
  <%= number_to_currency(@debt_balance.target_balance) %>
</p>

<p>
  <strong>Payments so far:</strong>
  <%= number_to_currency(@debt_balance.payments.sum(:amount)) %>
</p>

<p>
  <strong>Estimated Balance so far:</strong>
  <%= number_to_currency(@debt_balance.after_pay_balance) %>
</p>

<p>
  <strong>Estimated Payments left:</strong>
  <%= number_to_currency(@debt_balance.max_payment) %>
</p>

<% if !@debt_balance.debt.fix_amount %>
  <p>
	<strong>Payments needed to payoff/reach target by the due date:</strong>
  </p>
  
  <p style="text-indent: 2em;">
	<strong>Per payday: </strong>
	<%= "#{number_to_currency(@debt_balance.payment_due)} x #{current_user.get_income_sources.total_paychecks(@debt_balance.debt.account, @debt_balance.payment_start_date, @debt_balance.due_date)}" %>
  </p>
<% else %>
  <p style="text-indent: 0em; color:green;">
	<strong><%= @debt_balance.debt.schedule %> payments:</strong> 
	<%= number_to_currency(@debt_balance.debt.fix_amount) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_debt_balance_path(@debt_balance) %> |
<%= link_to 'Back', debt_balances_path %>
<% if @debt_balance.due_date > Time.now.to_date %> |
  <%= link_to 'Close', close_debt_balance_path(@debt_balance) %>
<% end %>

<h2>Spendings</h2>

<table>
  <thead>
    <%= render "spendings/partials/header" %>
  </thead>

  <tbody>
    <%= render partial: "spendings/partials/spending", collection: @spendings %>
  </tbody>
</table>
