<p id="notice"><%= notice %></p>

<p>
  <strong>Debt/Asset:</strong>
  <%= @debt_balance.debt.name %>
</p>

<p>
  <strong>Payment start date:</strong>
  <%= @debt_balance.payment_start_date %>
</p>

<p>
  <strong>Due/Target date:</strong>
  <%= @debt_balance.due_date %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency(@debt_balance.balance) %>
</p>

<p>
  <strong>Target Balance:</strong>
  <%= number_to_currency(@debt_balance.target_balance) %>
</p>

<p>
  <strong>Payments so far:</strong>
  <%= number_to_currency(@debt_balance.payments.sum(:amount)) %>
</p>

<p>
  <strong>Estimated Balance so far:</strong>
  <%= number_to_currency(@debt_balance.after_pay_balance) %>
</p>

<p>
  <strong>Estimated Payments left:</strong>
  <%= number_to_currency(@debt_balance.max_payment) %>
</p>

<p>
 <strong>Payments needed to payoff/reach target by the due date:</strong>
</p>

<p style="text-indent: 2em; color:red;">
 <strong>Before November 1st, 2015:</strong>
</p>

<p style="text-indent: 4em;">
  <strong>Weekly:</strong>
  <%= number_to_currency(@debt_balance.boa_payment_due) %>
</p>

<p style="text-indent: 4em;">
  <strong>Bi-Weekly:</strong>
  <%= number_to_currency(@debt_balance.chase_payment_due) %>
</p>

<p style="text-indent: 2em; color:green;">
 <strong>After November 1st, 2015:</strong>
</p>

<p style="text-indent: 4em;">
  <strong>Bi-Weekly:</strong>
  <%= number_to_currency(@debt_balance.nih_payment_due) %>
</p>

<%= link_to 'Edit', edit_debt_balance_path(@debt_balance) %> |
<%= link_to 'Back', debt_balances_path %>
<% if @debt_balance.due_date > Time.now.to_date %> |
  <%= link_to 'Close', close_debt_balance_path(@debt_balance) %>
<% end %>

<h2>Spendings</h2>

<table>
  <thead>
    <tr>
      <th><%= sortable "description" %></th>
      <th><%= sortable "category_id", "Category" %></th>
      <th><%= sortable "spending_date", "Date" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "payment_method_id", "Payment Method" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spendings.each do |spending| %>
      <tr>
        <td><%= spending.description %></td>
        <td><%= spending.category.name %></td>
        <td><%= spending.spending_date %></td>
        <td><%= number_to_currency(spending.amount) %></td>
        <td><%= spending.payment_method.name %></td>
        <td><%= link_to 'Show', spending %></td>
        <td><%= link_to 'Edit', edit_spending_path(spending) %></td>
        <td><%= link_to 'Destroy', spending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
