<p id="notice"><%= notice %></p>

<p>
  <strong>Debt/Asset:</strong>
  <%= @debt_balance.debt.name %>
</p>

<p>
  <strong>Payment start date:</strong>
  <%= @debt_balance.payment_start_date %>
</p>

<p>
  <strong>Due/Target date:</strong>
  <%= @debt_balance.due_date %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency(@debt_balance.balance) %>
</p>

<p>
  <strong>Target Balance:</strong>
  <%= number_to_currency(@debt_balance.target_balance) %>
</p>

<p>
 <strong>Payments needed to payoff/reach target by the due date:</strong>
</p>

<p style="text-indent: 2em;">
  <strong>Weekly:</strong>
  <%= number_to_currency(@debt_balance.boa_payment_due) %>
</p>

<p style="text-indent: 2em;">
  <strong>Bi-Weekly:</strong>
  <%= number_to_currency(@debt_balance.chase_payment_due) %>
</p>

<%= link_to 'Edit', edit_debt_balance_path(@debt_balance) %> |
<%= link_to 'Back', debt_balances_path %>
