<p id="notice"><%= notice %></p>

<h1>Listing Income Sources</h1>

<p>
  <strong>After taxes and deductions income:</strong>
</p>
<p style="text-indent: 2em;">
  <strong>Expected through <%= current_user.get_all("income_sources").max_end_date %>:</strong> <%= number_to_currency(current_user.get_all("income_sources").total_income(nil, Date.new(2007,1,1),Date.new(2020,1,1))) %>
</p>
<p style="text-indent: 2em;">
  <strong>To date:</strong> <%= number_to_currency(current_user.get_all("income_sources").total_income) %>
</p>
<p style="text-indent: 2em;">
  <strong>Remaining:</strong> <%= number_to_currency(current_user.get_all("income_sources").total_income(nil, Time.now.to_date + 1, Date.new(2020,1,1))) %>
</p>

<% current_user.get_all("accounts").each do |account| %>
  <p><%= account.name %></p>
  <p style="text-indent: 2em;">
    Expected <%= number_to_currency(current_user.get_all("income_sources").total_income(account, Date.new(2007,1,1),Date.new(2020,1,1))) %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pay schedule</th>
      <th>Account</th>
      <th>Pay day</th>
      <th>Amount</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_sources.each do |income_source| %>
      <tr>
        <td><%= income_source.name %></td>
        <td><%= income_source.pay_schedule %></td>
        <td><%= income_source.account.name %></td>
        <td><%= income_source.paydays %></td>
        <td><%= number_to_currency(income_source.amount) %></td>
        <td><%= income_source.start_date %></td>
        <td><%= income_source.end_date %></td>
        <td><%= link_to 'Show', income_source %></td>
        <td><%= link_to 'Edit', edit_income_source_path(income_source) %></td>
        <td><%= link_to 'Destroy', income_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income source', new_income_source_path %>
