<header class="navbar navbar-fixed-top navbar-inverse navbar-default nav-down">
  <div class="container">
    <%= link_to "Where Did My Money Go?", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right navbar-default">
      <li><%= link_to "Home", root_path %></li>
      <% if logged_in? %>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         <%= current_user.first_name %>
        </a>
          <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
               <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Contributors", users_path %></li>
            <li><%= link_to "Spendings", spendings_path %></li>
            <li><%= link_to "Categories", categories_path %></li>
            <li><%= link_to "Budgets", budgets_path %></li>
            <li><%= link_to "Debts/Assets", debts_path %></li>
            <li><%= link_to "Debt/Asset Balances", debt_balances_path %></li>
            <li><%= link_to "Payment Methods", payment_methods_path %></li>
            <li><%= link_to "Income Sources", income_sources_path %></li>
            <li><%= link_to "Accounts", accounts_path %></li>
            <li><%= link_to "Account Balances", account_balances_path %></li>
            <li><%= link_to "Account Balance Distributions", account_balance_distributions_path %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
